<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art competition</title>
    <link href="https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
</head>
<style>
     *{
    margin: 0;
    padding: 0;
    }
    body {
        margin: 0px;
        padding: 0px;
        background-image: url(' https://images.all-free-download.com/images/graphicthumb/abstract_artistic_background_with_flower_in_colorful_vector_illustration_570155.jpg');
        background-repeat: no-repeat;
        background-attachment: local;
        background-size: cover;
        opacity: 2;
    }
    #navbar{
        position: sticky;
        top:0px;
        
    }
    #navbar ul{
        display: flex;
        list-style: none;
        padding: 0px 0px 0px 1000px;
    
      
    }
    #navbar ul li{
        margin:15px 25px;
        font-size: 1.5rem;
        border-radius: 10px;
        color: white;
    }
    #navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.7;
    padding: 0px;
}
 
#navbar ul li button{
    padding:10px;
    color: black;
    border-radius: 16px;

}   
   .image img {
        border-radius: 17px;
        margin:0px 0px 20px -228px;
    }

    .container {
        
        display: grid;
        height: 568px;
        width: 1000px;
        position: relative;
        margin: auto;
        top: 139px;
        left: 171px;
        border-radius: 16px 100px 100px 16px;
    }

    .heading {
        position: absolute;
        top: 36px;
        left: 411px;
        background: #0095ff;
        border-radius: 37px;
        background-image: linear-gradient(45deg, white, transparent);
        margin: -24px 0px 0px -15px;
        padding: 0px 26px 14px 0px;
    }
    .heading h1{
        margin:20px 0px 0px 30px;
    }

    .para {
        position: absolute;
        top: 159px;
        left: 327px;
        width: 594px;
        align-items: center;
        font-family: 'Viaoda Libre', cursive;
        color: wheat;
        backdrop-filter: brightness(0.5);
        font-size: 30px;
        border: 2px solid black;
        border-radius: 31px;
        margin:-43px 154px 0px -124px;
        padding :10px;
    }
    .reg{
      position:absolute;
      right:450px;
      bottom: 150px;
  }
  .reg button{
      background-color: blueviolet;
      color: cornsilk;
      padding:15px;
      border-radius: 20px;
      
  }
  .reg button:hover{
       background-color: rgb(141, 95, 184);
       color: cornsilk;
  }
  .menubtn{
      padding:10px 30px;
  }
  .logooo{
     position:absolute;
     left:20px;
     top:5px;
 }
 .menudrop{
  float: left;
  overflow: hidden;
  font-size: 0.8rem;
}
.menudrop:hover{
    background-color:#F3C693 ;
}


.menudrop .menubtn {
  font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 8px 16px;
    background-color:#F3C693 ;
    font-family: inherit;
    margin: 10px 252px;
    border-radius: 10px;
}
.menu-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  right: 210px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  
}
 
.menu-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.menu-content a:hover {
  background-color: #ddd;
}

.menudrop:hover .menu-content {
  display: block;
}
   
    
</style>

<body>
    <nav id="navbar">
        
        <ul class="items">
            <div class="menudrop"> 
            <li> <button class="menubtn" >Menu</button></li>
            <div class="menu-content">
                <a href="/home">HOME</a>
                <a href="/gallery">OUR GALLERY</a>
                <a href="/events">EVENTS</a>
                <a href="/contact">CONTACT US</a>
              </div>
            </div>
              <li class="logooo"> <img src=" https://thumbs.dreamstime.com/b/hm-logo-monogram-shield-shape-isolated-blue-colors-outline-design-template-179292471.jpg" alt="" height="40px" width="40px" ></li>
            
            
            </ul>

    </nav>
    <div class="container">
        <div class="image">
            <img src="https://i.pinimg.com/564x/c3/6b/ef/c36bef140361dff675458e0235041a1a.jpg" alt="" height="400px" width="300px">
        </div>
        <div class="heading">
            <h1><b>Ātokonpetishon</b></h1>
        </div>
        <div class="para">
            <p>“The emotions are sometimes so strong that I work without knowing it. The strokes come like speech.”<br> Many
                felt this statement.Ātokonpetishon is the art competition of <i>Hi Matsuri.</i> Show your
                <br> versetility and keep captivating guys.
            </p>
        </div>
        <div class="reg">
            <button class="btn"><a href="/register">Register Now</a></button>
        </div>
    </div>
</body>

</html>