<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Mate+SC&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
  <title>contactus</title>
</head>
<style>
  body {
    background-image: url('https://images4.alphacoders.com/864/thumb-1920-864464.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  * {
    margin: 0;
    padding: 0;
  }

  #navbar {
    position: sticky;
    top: 0px;

  }

  #navbar ul {
    display: flex;
    list-style: none;
    justify-content: end;


  }

  #navbar ul li {
    margin: 15px 25px;
    font-size: 1.5rem;
    border-radius: 10px;
    color: white;
  }

  #navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
    padding: 0px;
  }

  #navbar ul li button {
    padding: 10px;
    color: black;
    border-radius: 16px;

  }

  * {
    box-sizing: border-box;
  }

  body {
    font-family: poppins;
    font-size: 16px;
    color: rgb(0, 4, 5);
  }

  .formbox .heading {
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 10px;
    text-align: center;
    margin: -41px 0px 10px 820px;
    width: 30%;

  }

  .formbox input {
    background: rgb(230, 196, 235);
    opacity: 0.8;
    margin: 10px 0px 25px 830px;
    padding: 10px 60px 10px 10px;
    border-radius: 5px;
    width: 30%;
    font-size: 18px;
    font-family: poppins;

  }


  .formbox label {
    position: relative;
    margin-left: 5px;
    margin-right: 10px;
    top: 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;


  }

  .formbox label:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    position: absolute;
    left: 0;
    bottom: 1px;

  }

  /*.formbox input[type=checkbox]:checked+label:before {
	content: "\2713";
	font-size: 20px;
	color: #000;
	text-align: center;
	line-height: 20px;
}*/
  .formbox span {
    font-size: 14px;
  }

  .formbox button {
    background-color: rgb(201, 60, 170);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 10%;
    font-size: 18px;
    padding: 10px;
    margin: 0px 0px 0px 970px;
  }

  .formbox button:hover {
    background-color: rgb(24, 25, 27);
    color: whitesmoke;
  }

  .formbox textarea {
    background: rgb(230, 196, 235);
    opacity: 0.8;
    margin: 10px 0px 25px 830px;
    border: none;
    padding: 10px 60px 10px 10px;
    border-radius: 5px;
    width: 30%;
    font-size: 18px;
    font-family: poppins;
  }

  #def1 {
    font-size: 32px;
    font-weight: 500;
    padding-bottom: 10px;
    text-align: center;
    margin: 30px 0px 0px -9px;
    width: 30%;
  }

  .mail {
    border: solid 2px black;
    border-radius: 25px;
    margin: 25px 0px 0px 80px;
    background-color: rgb(224, 168, 222);
    box-shadow: 0 0 10px #000;
    position: absolute;
    color: blanchedalmond;
    padding: 20px;
    width: 30%;
  }

  .mailogo {
    height: 10%;
    width: 10%;
    margin: 20px 0px 0px 20px;
  }

  .syms {
    margin: 20px 0px 0px 150px;
  }

  .fb {
    height: 7%;
    width: 5%;
    padding: 10px;

  }

  .insta {
    height: 7%;
    width: 5%;
    padding: 10px;

  }

  .twit {
    height: 7%;
    width: 5%;
    padding: 10px;

  }

  .logooo {
    position: absolute;
    left: 20px;
    top: 5px;
  }

  .menudrop {
    float: left;
    overflow: hidden;
    font-size: 0.8rem;
  }

  .menudrop:hover {
    background-color: #F3C693;
  }


  .menudrop .menubtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 8px 16px;
    background-color: #F3C693;
    font-family: inherit;
    margin: 10px 100px;
    border-radius: 10px;
  }

  .menu-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

  }

  .menu-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .menu-content a:hover {
    background-color: #ddd;
  }

  .menudrop:hover .menu-content {
    display: block;
  }
</style>

<body>
  <nav id="navbar">

    <ul class="items">
      <div class="menudrop">
        <li> <button class="menubtn">Menu</button></li>
        <div class="menu-content">
          <a href="/">HOME</a>
          <a href="/gallery">OUR GALLERY</a>
          <a href="/event">EVENTS</a>
          <a href="/contact">CONTACT US</a>
        </div>
      </div>
      <li class="logooo"> <img
          src=" https://thumbs.dreamstime.com/b/hm-logo-monogram-shield-shape-isolated-blue-colors-outline-design-template-179292471.jpg"
          alt="" height="40px" width="40px"></li>


    </ul>

  </nav>
  <div class="main">
    <ul id="fed">
      <li id="def1">
        <div class="logbox">
          <div class="head2">
            Reach Us here!
          </div>
          <div class="mail">
            <ul>
              <li>vaidehi@gmail.com <img class="mailogo"
                  src="https://i.pinimg.com/474x/09/59/7f/09597f90145f28a708b978dfc83b43e1.jpg" alt=""></li>
              <li>sunaina@gmail.com <img class="mailogo"
                  src="https://i.pinimg.com/474x/09/59/7f/09597f90145f28a708b978dfc83b43e1.jpg" alt=""></li>
              <li>dhruva@gmail.com <img class="mailogo"
                  src="https://i.pinimg.com/474x/09/59/7f/09597f90145f28a708b978dfc83b43e1.jpg" alt=""></li>
            </ul>
          </div>
        </div>
      </li>
      <li id="def2">
        <div class="formbox">
          <div class="heading">
            We'd Like to hear from you!
          </div>
          <form action="/comtact" method="POST">
            <input placeholder="Email Address" type="text" name="email">
            <textarea placeholder="your message here" rows="3" cols="20" name="message"></textarea>
            <input type="submit" value="contact">
          </form>
        </div>
      </li>
    </ul>
  </div>
  <div class="syms">

    <a href="https://www.facebook.com"><img class="fb" src="https://iconape.com/wp-content/png_logo_vector/facebook.png"
        alt=""></a>
    <a href="https://www.instagram.com"><img class="insta"
        src=" https://iconape.com/wp-content/files/ss/4207/png/01-05-9.png" alt=""></a>
    <a href="https://www.twitter.com"><img class="twit"
        src=" https://iconape.com/wp-content/files/wt/4215/png/01-12-7.png" alt=""></a>
  </div>
</body>

</html>