<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cooking competition</title>
    <link href="https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
</head>
<style>
     *{
    margin: 0;
    padding: 0;
    }
    body {
        margin: 0px;
        padding: 0px;
        background-image: url('https://swall.teahub.io/photos/small/277-2778582_nature-hd-wallpapers-country-scenery-facebook-cover.jpg');
        background-repeat: no-repeat;
        background-attachment: local;
        background-size: cover;
    }    
    #navbar{
        position: sticky;
        top:0px;
        
    }
    #navbar ul{
        display: flex;
        list-style: none;
        padding: 0px 0px 0px 1000px;
    
      
    }
    #navbar ul li{
        margin:15px 25px;
        font-size: 1.5rem;
        border-radius: 10px;
        color: white;
    }
    
    #navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.7;
    padding: 0px;
}
#navbar ul li button{
    padding:10px;
    color: black;
    border-radius: 16px;

}  
.heading h1{
        margin:20px 0px 0px 30px;
    }
.menudrop{
  float: left;
  overflow: hidden;
  font-size: 0.8rem;
}
.menudrop:hover{
    background-color:#F3C693 ;
}
.logooo{
     position:absolute;
     left:20px;
     top:5px;
 }


.menudrop .menubtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;  
  margin: 0;  
}
.menu-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  
}
 
.menu-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.menu-content a:hover {
  background-color: #ddd;
}

.menudrop:hover .menu-content {
  display: block;
} 
 
  


    .image img {
        border-radius: 17px;
        margin: 0px 0px 20px -228px;
    }

    .container {
        display: grid;
        height: 568px;
        width: 1000px;
        position: relative;
        margin: auto;
        top: 117px;
        left: 171px;
       
    }

    .heading {
        position: absolute;
        top: 36px;
        left: 411px;
        background: black;
        border-radius: 37px;
        background-image: linear-gradient(45deg, #ede7f6, transparent);
        margin: 19px 0px 0px -15px;
        padding: 0px 26px 14px 0px;
    }

    .para {
        position: absolute;
        top: 159px;
        left: 327px;
        align-items: center;
        font-family: 'Viaoda Libre', cursive;
        color: wheat;
        backdrop-filter: saturate(0.5);
        font-size: 30px;
        border: 2px solid black;
        border-radius: 31px;
        margin:-15px 154px 0px -124px;
        padding :10px;
    }

    .reg{
      position:absolute;
      right:450px;
      bottom: 150px;
  }
  .reg button{
      background-color: blueviolet;
      color: cornsilk;
      padding:15px;
      border-radius: 20px;
      
  }
  .reg button:hover{
       background-color: rgb(141, 95, 184);
       color: cornsilk;
  }
 .btn {
        border-radius: 144px;
        border: 2px solid black;
        height: 56px;
        width: 154px;
        font-family: 'Pangolin', cursive;
        font-size: 18px;
    }
</style>

<body>
    <nav id="navbar">
        
        <ul class="items">
            <div class="menudrop"> 
            <li> <button class="menubtn" >Menu</button></li>
            <div class="menu-content">
                <a href="/home">HOME</a>
                <a href="/gallery">OUR GALLERY</a>
                <a href="/events">EVENTS</a>
                <a href="/contact">CONTACT US</a>
              </div>
            </div>
              <li class="logooo"> <img src=" https://thumbs.dreamstime.com/b/hm-logo-monogram-shield-shape-isolated-blue-colors-outline-design-template-179292471.jpg" alt="" height="40px" width="40px" ></li>
            
            
            </ul>

    </nav>
     
    <div class="container">
        <div class="image">
            <img src="https://i.pinimg.com/564x/a3/a3/e8/a3a3e8b4df2dc1f524056562917f0298.jpg" alt="" height="450px" width="350px">
        </div>
        <div class="heading">
            <h1><b>Ryōri kontesuto</b></h1>
        </div>
        <div class="para">
            <p>Cooking involves knowledge skills techniques of<br> the ability
                to
                food preparation time constraints. <br> And Ryōri kontesuto is
                the Cooking<br> event of <i>Hi Matsuri</i>. You can showcase <br> all your skills and have fun Cooking
            </p>
        </div>
        <div class="reg">
            <button class="btn"><a href="/register">Register Now</a></button>
        </div>

    </div>
</body>

</html>