<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EVENT PAGE</title>
    <link href="https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Qahiri&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@200&display=swap" rel="stylesheet">
</head>
<style>
    * {
        margin: 0%;
        padding: 0%;
    }

    body {
        margin: 0px;
        padding: 0px;
        background-image: url('https://wallpapercave.com/wp/wp2704824.jpg');
        background-repeat: no-repeat;
        background-attachment: local;
        background-size: cover;
        opacity: 2;
    }

    .grid {
        position: absolute;
        left: 25%;
        top: 10%;
    }

    .art {
        margin: 0px;
        padding: 0px;
        background-image: url('https://i.pinimg.com/564x/f2/8d/d0/f28dd096efec0a1ccda5729ec5714ce1.jpg');
        background-repeat: no-repeat;
        background-attachment: local;
        background-size: cover;
        opacity: 2;
        background-color: white;
        color: #0014ffbf;
        width: 323px;
        height: 200px;
        margin: 10px;
        border: 2px solid black;
        border-radius: 15px;
        font-family: 'Qahiri', sans-serif;
        font-size: 70px;
    }

    .music {
        margin: 0px;
        padding: 0px;
        background-image: url('https://i.pinimg.com/564x/d8/04/de/d804defe4b397e6c1c43ea626b155053.jpg');
        background-repeat: no-repeat;
        background-attachment: local;
        background-size: cover;
        opacity: 2;
        background-color: white;
        color: wheat;
        width: 327px;
        height: 200px;
        margin: 10px;
        border: 2px solid black;
        border-radius: 15px;
        font-family: 'Qahiri', sans-serif;
        font-size: 69px;
    }

    .fashion {
        margin: 0px;
        padding: 0px;
        background-image: url('https://i.pinimg.com/564x/e4/de/32/e4de32d10597cee291b04ad3ab8737b8.jpg');
        background-repeat: no-repeat;
        background-attachment: local;
        background-size: cover;
        opacity: 2;
        background-color: white;
        color: red;
        width: 323px;
        height: 173px;
        margin: 10px;
        border: 2px solid black;
        border-radius: 15px;
        font-family: 'Qahiri', sans-serif;
        font-size: 70px;
    }

    .cooking {
        margin: 0px;
        padding: 0px;
        background-image: url('https://i.pinimg.com/564x/3e/13/0d/3e130d0fb98dc33e30f6ccc4d8564e4d.jpg');
        background-repeat: no-repeat;
        background-attachment: local;
        background-size: cover;
        opacity: 2;
        background-color: white;
        color: #00ff89;
        width: 323px;
        height: 177px;
        margin: 10px;
        border: 2px solid black;
        border-radius: 15px;
        font-family: 'Qahiri', sans-serif;
        font-size: 66px;
    }

    a {
        text-decoration: none;
        position: relative;
        left: 10px;
    }

    .btn {
        padding: 10px;
        width: 100px;
        display: inline-block;
        position: relative;
        left: 87px;
        top: 74px;
    }

    .events {
        display: inline;
        color: white;
        font-size: 33px;
        position: absolute;
        left: 230px;
        top: 10rem;
    }

    .quote {
        color: white;
        position: absolute;
        top: 304px;
        font-size: 42px;
        left: 1005px;
        font-family: 'Encode Sans SC', sans-serif;
    }

    #navbar {
        position: sticky;
        top: 0px;

    }

    #navbar ul {
        display: flex;
        list-style: none;
        /* padding: 0px 0px 0px 1000px; */
        justify-content: end;


    }

    #navbar::before {
        content: "";
        background-color: black;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 110%;
        width: 100%;
        z-index: -1;
        opacity: 0.7;
        padding: 0px;
    }

    .logooo {
        position: absolute;
        left: 20px;
        top: 5px;
    }

    .menudrop {
        float: left;
        overflow: hidden;
        font-size: 0.8rem;
    }

    .menudrop:hover {
        background-color: #F3C693;
    }


    .menudrop .menubtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: black;
        padding: 8px 16px;
        background-color: #F3C693;
        font-family: inherit;
        margin: 10px 100px;
        border-radius: 10px;
    }

    .menu-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;

    }

    .menu-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .menu-content a:hover {
        background-color: #ddd;
    }

    .menudrop:hover .menu-content {
        display: block;
    }

    .btn a {
        text-decoration: none;
        color: black;
        font-size: 1rem;
    }

    .btn button {
        width: 150px;
        display: block;
    }
</style>

<body>
    <nav id="navbar">

        <ul class="items">
            <div class="menudrop">
                <li> <button class="menubtn">Menu</button></li>
                <div class="menu-content">
                    <a href="/">HOME</a>
                    <a href="/gallery">OUR GALLERY</a>
                    <a href="/event">EVENTS</a>
                    <a href="/contact">CONTACT US</a>
                </div>
            </div>
            <li class="logooo"> <img
                    src=" https://thumbs.dreamstime.com/b/hm-logo-monogram-shield-shape-isolated-blue-colors-outline-design-template-179292471.jpg"
                    alt="" height="40px" width="40px"></li>


        </ul>

    </nav>
    <div class="events">
        <h1>E</h1>
        <h1>V</h1>
        <h1>E</h1>
        <h1>N</h1>
        <h1>T</h1>
        <H1>S</H1>
    </div>
    <div class="grid">
        <div class="art">
            <div class="btn">
                <button><a href="/art">Ātokonpetishon</a></button>
            </div>
        </div>
        <div class="music">
            <div class="btn">
                <button><a href="/music">Ongaku konkūru</a></button>
            </div>
        </div>
        <div class="fashion">
            <div class="btn">
                <button><a href="/fashion">Fasshonshō</a></button>
            </div>
        </div>
        <div class="cooking">
            <div class="btn">
                <button> <a href="/cooking">Ryōri kontesuto</a> </button>
            </div>
        </div>
    </div>
    <div class="quote">
        <p>“HERE’S TO THE NIGHTS THAT TURNED INTO MORNINGS, <br> AND THE FRIENDS THAT TURNED INTO FAMILY”</p>
    </div>
</body>

</html>